body {
    background-color: aquamarine;
}

h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
}

h2 {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

h3 {
    font-size: 48px;
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
    background-color: cyan;
}